<table class="table align-middle mb-0 bg-white">
    <thead class="bg-dark text-light" >
        <tr>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usuarios">
            <td>
                <div class="d-flex align-items-center">
                    <div>
                        <span class="fw-bold mb-1">{{user.nombre}}</span>
                        <span class="fw-bold mb-1 mx-1">{{user.apellido}}</span>
                        <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                </div>
            </td>
            <td>
                <span class="fw-normal mb-1">{{user.rol}}</span>
            </td>
            <td>
                <h5><span class="badge badge-success rounded-pill d-inline">{{user.estadoUsuario}}</span></h5>
            </td>
            <td>
                <a (click)="onView(user.idUsuario)" type="button" class="btn btn-primary  btn-floating mx-1">
                    <i class="fas fa-eye"></i>
                </a>
                <a (click)="onEdit(user.idUsuario)" type="button" class="btn btn-warning btn-floating mx-1" mdbRipple rippleColor="dark">
                    <i class="fas fa-pen"></i>
                </a>
                <a (click)="onDelete(user.idUsuario)"type="button" class="btn btn-danger btn-floating mx-1">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>