<div class="wrapper">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h2>Citas</h2>
        </div>
    </div>
    <div class="group-inputs">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-9">
                <full-calendar [options]="calendarGridOptions"></full-calendar>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <full-calendar [options]="calendarListOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>