.wrapper {
    margin: 0 auto;
    max-width: 1700px;
    padding: 30px;

    .margin-form {
        margin-top: 1rem;
    }

    .group-inputs {
        padding: 0.7rem;
    }

    .no-resize {
        resize: none;
    }

    .tipo-cita-item {
        margin-bottom: 10px;
    }

    .tipo-cita-color {
        display: inline-block;
        width: 90%;
        height: 2rem;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px;
    }
}