<div class="border rounded-6 p-3 bg-white shadow box-area">
    <form (submit)="submit()" [formGroup]="estadocontratoForm">
        <div class="group-inputs">
            <div class="row">
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="idEstadoContrato" type="number" min="1" id="idEstadoContrato"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="idEstadoContrato">Id Estado Contrato (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="estadocontratoForm.get('idEstadoContrato').touched && estadocontratoForm.get('idEstadoContrato').invalid">Id
                        del estado del contrato es requerido</span>
                </div>
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="estadoContrato" type="text" id="estadoContrato"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="estadoContrato">Estado Contrato (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="estadocontratoForm.get('estadoContrato').touched && estadocontratoForm.get('estadoContrato').invalid">El
                        estado del contrato es requerido</span>
                </div>
            </div>
        </div>
        <input type="hidden" name="fechaCreacion" formControlName="fechaCreacion">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <a routerLink="/home-dashboard/dashboard" mdbBtn type="button" id="btnVolver"
                    class="btn btn-secondary btn-lg btn-block" mdbWavesEffect><i class="fas fa-arrow-rotate-left mx-2"></i>Volver</a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <button mdbBtn type="button" id="btnRefrescar" (click)="cargarEstadosContrato()"
                    class="btn btn-primary btn-lg btn-block" mdbWavesEffect><i class="fas fa-search mx-2"></i>Buscar</button>
            </div>
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <button mdbBtn type="submit" id="btnSave"
                    [disabled]="estadocontratoForm.invalid||estadocontratoForm.disabled"
                    class="btn btn-primary btn-lg btn-block" mdbWavesEffect><i class="fas fa-floppy-disk mx-2"></i>Guardar</button>
            </div>
        </div>
    </form>
</div>
<app-comon-table 
    [tableData]="estadosContrato" 
    [tableColumns]="tableColumns" 
    [isFilterable]="true" 
    [isPageable]="true"
    [paginationSizes]="[10,15,25]" 
    [defaultPageSize]="10" 
    [rowActionIcon]="'true'" 
    (delete)="delete($event)"
    (export)="export($event)" 
    (edit)="edit($event)"></app-comon-table>