<div class="border rounded-6 p-3 bg-white shadow box-area">
    <form (submit)="submit()" [formGroup]="provinciasForm">
        <div class="group-inputs">
            <div class="row">
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <div class="floating-label">
                        <select class="form-control" formControlName="idPais">
                            <option *ngFor="let pais of paises" [value]="pais.idPais">{{pais.pais}}</option>
                        </select>
                        <label>Pais</label>
                    </div>
                    <span class="text-danger"
                        *ngIf="provinciasForm.get('idPais').invalid && provinciasForm.get('idPais').touched">
                        El campo es requerido</span>
                </div>
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="idProvincia" type="number" min="1" id="metroscuadrados"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="metroscuadrados">Codigo Provincia (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="provinciasForm.get('idProvincia').invalid && provinciasForm.get('idProvincia').touched">
                        El campo es requerido</span>
                </div>
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="provincia" type="text" id="anoconstruccion"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="anoconstruccion">Pronvincia (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="provinciasForm.get('provincia').invalid && provinciasForm.get('provincia').touched">
                        El campo es requerido</span>
                </div>
            </div>
        </div>
        <input type="hidden" name="fechaModificacion" formControlName="fechaModificacion" />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <a routerLink="/home-dashboard/dashboard" mdbBtn type="button" id="btnVolver"
                    class="btn btn-secondary btn-lg btn-block" mdbWavesEffect><i class="fas fa-arrow-rotate-left mx-2"></i>Volver</a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <button mdbBtn type="button" id="btnRefrescar" (click)="cargarProvincias()"
                    class="btn btn-primary btn-lg btn-block" mdbWavesEffect><i class="fas fa-search mx-2"></i>Buscar</button>
            </div>
            <div class="col-12 col-sm-12 col-md-4 margin-form">
                <button mdbBtn type="submit" id="btnSave" [disabled]="provinciasForm.invalid||provinciasForm.disabled"
                    class="btn btn-primary btn-lg btn-block" mdbWavesEffect><i class="fas fa-floppy-disk mx-2"></i>Guardar</button>
            </div>
        </div>
    </form>
</div>
<app-comon-table 
[tableData]="provincias"
[tableColumns]="tableColumns"
[isFilterable]="true"
[isPageable]="true"
[paginationSizes]="[10,15,25]"
[defaultPageSize]="10" 
[rowActionIcon]="'true'"
(delete)="delete($event)"
(export)="export($event)"
(edit)="edit($event)"></app-comon-table>
