<div class="wrapper">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h2>Contrato</h2>
        </div>
    </div>
    <div class="border rounded-6 p-3 bg-white shadow box-area">
        <div class="group-inputs">
            <form (submit)="busqueda()" [formGroup]="buscadorContratoFrom">
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="titulo" type="text" id="titulo" class="form-control" />
                            <label mdbLabel class="form-label" for="titulo">Titulo</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <div class="form-outline">
                            <mdb-form-control>
                                <textarea mdbInput class="form-control" id="descripcion" formControlName="descripcion"
                                    rows="4"></textarea>
                                <label mdbLabel class="form-label" for="descripcion">Descripcion</label>
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="fechaInicio" type="date" id="fechaInicio"
                                class="form-control" />
                            <label mdbLabel class="form-label" for="fechaInicio">Fecha Inicio</label>
                        </mdb-form-control>
                        <span class="text-danger"
                            *ngIf="buscadorContratoFrom.get('fechaInicio').invalid && buscadorContratoFrom.get('fechaInicio').touched">Fecha
                            Fin es requerido <br></span>
                        <span class="text-danger" *ngIf="buscadorContratoFrom.get('fechaInicio').invalid && buscadorContratoFrom.get('fechaInicio').touched
                        && buscadorContratoFrom.get('fechaInicio').errors?.fechaInvalida">la fecha Inicio deber ser
                            mayor o igual a la actual </span>
                    </div>
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="fechaFin" type="date" id="fechaFin" class="form-control" />
                            <label mdbLabel class="form-label" for="fechaFin">Fecha Fin</label>
                        </mdb-form-control>

                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <div class="form-outline">
                            <mdb-form-control>
                                <textarea mdbInput class="form-control" id="terminosYCondiciones"
                                    formControlName="terminosYCondiciones" rows="4"></textarea>
                                <label mdbLabel class="form-label" for="terminosYCondiciones">Términos Y
                                    Condiciones</label>
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="valor" type="number" min="0" id="valor"
                                class="form-control" />
                            <label mdbLabel class="form-label" for="valor">Valor</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <div class="form-outline">
                            <mdb-form-control>
                                <textarea mdbInput class="form-control" id="observaciones"
                                    formControlName="observaciones" rows="4"></textarea>
                                <label mdbLabel class="form-label" for="observaciones">Observaciones</label>
                            </mdb-form-control>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-around flex-md-row flex-sm-column flex-column gap-2">
                    <div class="floating-label   margin-form" style="width: 100%">
                        <select formControlName="tipoContrato" class="form-control">
                            <option selected>Seleciona una opción</option>
                            <option *ngFor="let tipoContrato of tiposContrato" value="{{tipoContrato.idTipoContrato}}">
                                {{tipoContrato.tipo}}</option>
                        </select>
                        <label>Tipo Contrato</label>
                    </div>
                    <div class="floating-label   margin-form" style="width: 100%">
                        <select formControlName="tipoPago" class="form-control">
                            <option selected>Seleciona una opción</option>
                            <option *ngFor="let tipoPago of tiposPago" value="{{tipoPago.idTipoPago}}">{{tipoPago.tipo}}
                            </option>
                        </select>
                        <label>Tipo pago</label>
                    </div>
                </div>
                <div class="d-flex justify-content-around flex-md-row flex-sm-column flex-column gap-2">
                    <div class="floating-label   margin-form" style="width: 100%">
                        <select formControlName="inmueble" class="form-control">
                            <option selected>Seleciona una opción</option>
                            <option *ngFor="let inmueble of inmuebles" value="{{inmueble.idInmueble}}">
                                {{inmueble.direccion}}</option>
                        </select>
                        <label>Inmueble</label>
                    </div>
                    <div class="floating-label   margin-form" style="width: 100%">
                        <select formControlName="agente" class="form-control">
                            <option selected>Seleciona una opción</option>
                            <option *ngFor="let agente of usuariosAgentes" value="{{agente.idUsuario}}">
                                {{agente.nombre}}</option>
                        </select>
                        <label>Agente</label>
                    </div>
                    <div class="floating-label   margin-form" style="width: 100%">
                        <select formControlName="cliente" class="form-control">
                            <option selected>Seleciona una opción</option>
                            <option *ngFor="let agente of usuariosClientes" value="{{agente.idUsuario}}">
                                {{agente.nombre}}</option>
                        </select>
                        <label>Cliente</label>
                    </div>
                </div>
                <input mdbInput formControlName="idContrato" type="hidden" id="idContrato" class="form-control" />
            </form>
        </div>
        <div class="d-flex justify-content-around">
            <button routerLink="/home-dashboard/contrato" mdbBtn type="button" color="primary" class="btn btn-primary btn-lg">
                Volver
            </button>
            <button mdbBtn color="primary" class="btn btn-primary btn-lg">
                +<i class="fa-file-contract fas mx-2"></i>Nuevo Contrato
            </button>
        </div>
    </div>