<div class="wrapper">
    <div class="d-flex justify-content-center mb-1">
        <div class="d-flex justify-content-center">
            <h2>Contratos Detalle</h2>
        </div>
    </div>
    <div class="border rounded-6 p-3 bg-white shadow box-area">
        <div class="group-inputs">
            <form (submit)="submit()" [formGroup]="contratoFrom">
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="titulo" type="text" id="titulo" class="form-control" />
                            <label mdbLabel class="form-label" for="titulo">Titulo (*)</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('titulo').invalid && contratoFrom.get('titulo').touched">
                    El titulo es requerido
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <mdb-form-control>
                            <input mdbInput type="text" id="fechaInicio" name="fechaInicio"
                                formControlName="fechaInicio" [daysDisabled]="[6,0]" class="form-control margin-form"
                                bsDatepicker [bsConfig]="{containerClass:'theme-dark-blue'}">
                            <label mdbLabel class="form-label" for="fechaInicio">Fecha Inicio (*)</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <mdb-form-control>
                            <input mdbInput type="text" id="fechaFin" name="fechaFin" formControlName="fechaFin"
                                [daysDisabled]="[6,0]" class="form-control margin-form" bsDatepicker [bsConfig]="{containerClass:'theme-dark-blue'}">
                            <label mdbLabel class="form-label" for="fechaFin">Fecha Fin (*)</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('fechaInicio').invalid && contratoFrom.get('fechaInicio').touched">
                    La fecha de inicio es requerida
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('fechaFin').invalid && contratoFrom.get('fechaFin').touched">
                    La fecha de fin es requerida
                </div>
                <div *ngIf="contratoFrom.hasError('dateRange')" class="text-center text-danger">
                    La fecha de fin debe ser mayor a la fecha de inicio
                </div>
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="valor" type="number" min="0" id="valor"
                                class="form-control" />
                            <label mdbLabel class="form-label" for="valor">Valor/aquiler (*)</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('valor').invalid && contratoFrom.get('valor').touched">
                    El valor es requerido
                </div>
                <div class="row">
                    <div class="text-center margin-form col-12 col-sm-12 col-md-12 margin-form ">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control no-resize" id="descripcion"
                                formControlName="descripcion" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="descripcion">Descripcion</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center margin-form col-12 col-sm-12 col-md-12 margin-form ">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control no-resize" id="terminos" formControlName="terminos"
                                rows="4"></textarea>
                            <label mdbLabel class="form-label" for="terminos">Terminos y condiciones</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center margin-form col-12 col-sm-12 col-md-12 margin-form ">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control no-resize" id="observaciones"
                                formControlName="observaciones" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="observaciones">Observaciones</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <div class="col-12 col-md-6">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%; ">
                            <ng-select [clearable]="false" formControlName="idTipoContrato"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let tipoContrato of tipoContratos"
                                    [value]="tipoContrato.idTipoContrato">
                                    {{tipoContrato.tipo}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Tipo Contrato (*)</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%;">
                            <ng-select [clearable]="false" formControlName="idTipoPago"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let tipoPago of tipoPagos" [value]="tipoPago.idTipoPago">
                                    {{tipoPago.tipo}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Tipo Pago (*)</label>
                        </div>
                    </div>
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('idTipoContrato').invalid && contratoFrom.get('idTipoContrato').touched">
                    El tipo de contrato es requerido
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('idTipoPago').invalid && contratoFrom.get('idTipoPago').touched">
                    El tipo de pago es requerido
                </div>
                <div class="row d-flex align-items-center my-1">
                    <div class="col-12 col-md-4">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%; ">
                            <ng-select [clearable]="false" formControlName="idEstadoContrato"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let estadoContrato of estadosContrato"
                                    [value]="estadoContrato.idestadoContrato">
                                    {{estadoContrato.estado}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Estado Contrato (*)</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%;">
                            <ng-select [clearable]="false" formControlName="idInmueble"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let inmueble of inmuebles" [value]="inmueble.idInmueble">
                                    {{inmueble.direccion}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Inmueble (*)</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%;">
                            <ng-select [clearable]="false" formControlName="idCliente"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                                    {{usuario.nombre}}-{{usuario.apellido}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Cliente (*)</label>
                        </div>
                    </div>
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('idEstadoContrato').invalid && contratoFrom.get('idEstadoContrato').touched">
                    El estado del contrato es requerido
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('idInmueble').invalid && contratoFrom.get('idInmueble').touched">
                    El inmueble es requerido
                </div>
                <div class="text-center text-danger"
                    *ngIf="contratoFrom.get('idCliente').invalid && contratoFrom.get('idCliente').touched">
                    El cliente es requerido
                </div>
                <div class="d-flex justify-content-center margin-form">
                    <a mdbBtn type="button" color="primary" routerLink="/home-dashboard/contrato"
                        class="btn btn-secondary btn-lg mx-2"><i class="fas fa-arrow-rotate-left mx-2"></i>Volver</a>
                    <button mdbBtn type="submit" color="primary" class="btn btn-primary btn-lg mx-2"
                        [disabled]="contratoFrom.invalid">
                        <i class="fas fa-floppy-disk mx-2"></i>Guardar
                    </button>
                </div>
                <input type="hidden" formControlName="fechaCreacion">
                <input type="hidden" formControlName="idContrato">
            </form>
        </div>
    </div>
</div>