@import '/src/assets/scss/colors.scss';

.wrapper {
    margin: 0 auto;
    max-width: 1700px;
    padding: 30px;

    .margin-form {
        margin-top: 1rem;
    }

    .group-inputs {
        padding: 0.7rem;
    }

    .imagen-inmueble {
        position: relative;
        button {
            position: absolute;
            top: 1.5rem;
            right: 3rem;
            transform: translate(50%, -50%);
            font-size: 5rem;
        }
    }
}
@media screen and (max-width: 1249px) {
    .responsive-selects {
        display: flex;
        flex-flow: column wrap;
    }
}