<div class="wrapper">
    <div class="border rounded-6 p-3 bg-white shadow box-area">
        <div class="group-inputs">
            <form (submit)="busqueda()" [formGroup]="buscadorFrom">
                <div class="row">
                    <div class="text-center col-12 col-sm-12 col-md pe-md-2 margin-form">
                        <mdb-form-control>
                            <input mdbInput formControlName="titulo" type="text" id="titulo" class="form-control" />
                            <label mdbLabel class="form-label" for="titulo">Titulo</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <mdb-form-control>
                            <input mdbInput type="text" id="fechaInicio" name="fechaInicio"
                                formControlName="fechaInicio" [daysDisabled]="[6,0]" [minDate]="minDate"
                                class="form-control margin-form" bsDatepicker>
                            <label mdbLabel class="form-label" for="fechaInicio">Fecha Inicio (*)</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <mdb-form-control>
                            <input mdbInput type="text" id="fechaFin" name="fechaFin" formControlName="fechaFin"
                                [daysDisabled]="[6,0]" [minDate]="minDate" class="form-control margin-form"
                                bsDatepicker>
                            <label mdbLabel class="form-label" for="fechaFin">Fecha Fin (*)</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center margin-form col-12 col-sm-12 col-md-12 margin-form ">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control no-resize" id="descripcion"
                                formControlName="descripcion" rows="4"></textarea>
                            <label mdbLabel class="form-label" for="descripcion">Descripcion</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="row d-flex align-items-center my-1">
                    <div *ngIf="!isAgente"  class="col-12 col-md-6">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%; ">
                            <ng-select [clearable]="false" formControlName="idEstadoTarea"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let estadoTarea of estadosTarea" [value]="estadoTarea.idEstadoTarea">
                                    {{estadoTarea.estadoTarea}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Estado Tarea (*)</label>
                        </div>
                    </div>
                    <div *ngIf="isAgente"  class="col-12 col-md-12">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%; ">
                            <ng-select [clearable]="false" formControlName="idEstadoTarea"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let estadoTarea of estadosTarea" [value]="estadoTarea.idEstadoTarea">
                                    {{estadoTarea.estadoTarea}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Estado Tarea (*)</label>
                        </div>
                    </div>
                    <div *ngIf="!isAgente" class="col-12 col-md-6">
                        <div class="floating-label ng-select-js margin-form" style="width: 100%;">
                            <ng-select [clearable]="false" formControlName="idUsuario"
                                class="form-control floating-label-select" [searchable]="true">
                                <ng-option [value]="0">SELECCIONA UNA OPCIÓN</ng-option>
                                <ng-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                                    {{usuario.nombre}}-{{usuario.apellido}}
                                </ng-option>
                            </ng-select>
                            <label class="floating-label-label">Usuario (*)</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <button mdbBtn type="button" color="primary" class="btn btn-primary btn-lg mx-2" (click)="busqueda()">
                <i class="fas fa-search mx-2"></i>Buscar
            </button>
            <button mdbBtn type="button" color="primary" class="btn btn-primary btn-lg" (click)="limpiarFiltros()">
                <i class="fas fa-arrows-rotate mx-2"></i>Limpiar Filtros
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-end mx-5 my-3">
        <a *ngIf="!isAgente" routerLink="/home-dashboard/tarea/crear" mdbBtn color="primary" class="btn btn-primary btn-lg">
            +<i class="fas fa-tasks mx-2"></i>Nueva Tarea
        </a>
    </div>
    <app-comon-table 
    [tableData]="tareas"
    [tableColumns]="tableColumns"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="[10,15,25]"
    [defaultPageSize]="10" 
    [rowActionIcon]="'true'"
    (delete)="delete($event)"
    (export)="export($event)"
    (edit)="edit($event)"></app-comon-table>
</div>