.wrapper {
    margin: 0 auto;
    max-width: 1700px;
    padding: 30px;

    .data-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .custom-card {
        width: 18rem;
        margin: 1rem;
    }
}