<div class="wrapper">
    <section class="data-section row">
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Contratos</h5>
                <canvas id="contratosGraph"></canvas>
                <p class="fw-bold text-center w-100" id="contratosGraphParagraph"></p>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Inmuebles</h5>
                <canvas id="inmueblesGraph"></canvas>
                <p class="fw-bold text-center w-100" id="inmueblesGraphParagraph"></p>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Citas</h5>
                <canvas id="citasGraph"></canvas>
                <p class="fw-bold text-center w-100" id="citasGraphParagraph"></p>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Tareas</h5>
                <canvas id="tareasGraph"></canvas>
                <p class="fw-bold text-center w-100" id="tareasGraphParagraph"></p>
            </div>
        </div>
    </section>
    <section class="row text-center">
        <div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto" style="max-width: 1000px;">
            <div class="card-body">
                <h5 class="card-title">Visitas</h5>
                <canvas id="visitasGraph"></canvas>
                <p class="fw-bold text-center w-100" id="visitasGraphParagraph"></p>
            </div>
        </div>
    </section>

</div>