
<div class="wrapper">
    <section class="data-section row">
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Contratos</h5>
                <canvas  id="MyChart" ></canvas>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Inmuebles</h5>
                <canvas></canvas>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Citas</h5>
                <canvas></canvas>
            </div>
        </div>
        <div class="card custom-card col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Tareas</h5>
                <canvas></canvas>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tareas</h5>
                <canvas></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tareas</h5>
                <canvas></canvas>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tareas</h5>
                <canvas></canvas>
            </div>
        </div>
    </section>
</div>

