<nav class="navbar  fixed-bottom navbar-light bg-light w-100 container-fluid p-0">
    <footer *ngIf="!isMobileResize" class="text-center text-lg-start bg-light text-muted w-100">
        <section class="seccion-footer">
            <div class="container text-center text-md-start  p-0">
                <div class="row mt-3 p-0">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-1">{{tituloRedes}}</h6>
                        <p *ngFor="let r of redesSociales">
                            <a href="{{r.url}}" target="{{r.target}}" class="me-4 text-reset">
                                <i class="{{r.icon}}"></i>{{r.nombre}}
                            </a>
                        </p>
                    </div>
                    <div *ngFor="let d of direcciones" class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-0 p-0">
                            <h6 class="text-uppercase fw-bold mb-1">{{d.titulo}}</h6>
                            <p class="m-0"><i class="{{d.direccionIcon}}"></i><a href="{{d.linkDireccion}}" target="{{d.linkDireccionTarget}}">{{d.direccion}}</a></p>
                            <p class="m-0"><i class="{{d.emailIcon}}"></i>{{d.email}}</p>
                            <p class="m-0"><i class="{{d.telfonnoIcon}}"></i> {{d.telefono}}</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-0 fondo-footer">
            <span class="text-reset fw-bold">{{copyright}}</span> 
        </div>
    </footer>
    <footer *ngIf="isMobileResize" class="text-center text-lg-start bg-light text-muted w-100">
        <section class="seccion-footer">
            <div class="container text-center text-md-start mt-5 p-0">
                <div class="row mt-3 p-0">
                    <div *ngFor="let m of movilFooter" class="col-2 mx-auto mb-md-0 mb-0 p-0 text-center">
                            <i class="{{m.icon}}"></i>
                            <p>{{m.titulo}}</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</nav>