<nav class="fixed-bottom navbar navbar-light bg-light w-100 container-fluid p-0">
    <footer *ngIf="!isMobileResize" class="text-center text-lg-start bg-light text-muted w-100">
        <section class="seccion-footer">
            <div class="container text-center text-md-start  p-0">
                <div class="row mt-3 p-0">
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-1">{{tituloRedes}}</h6>
                        <p *ngFor="let r of redesSociales">
                            <a href="{{r.url}}" target="{{r.target}}" class="me-4 text-reset">
                                <i class="{{r.icon}}"></i>{{r.nombre}}
                            </a>
                        </p>
                    </div>
                    <div *ngFor="let d of direcciones" class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-0 p-0">
                        <h6 class="text-uppercase fw-bold mb-1">{{d.titulo}}</h6>
                        <p class="m-0"><i class="{{d.direccionIcon}}"></i><a href="{{d.linkDireccion}}"
                                target="{{d.linkDireccionTarget}}">{{d.direccion}}</a></p>
                        <p class="m-0"><i class="{{d.emailIcon}}"></i>{{d.email}}</p>
                        <p class="m-0"><i class="{{d.telfonnoIcon}}"></i> {{d.telefono}}</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-0 fondo-footer">
            <span class="text-reset fw-bold">{{copyright}}</span>
        </div>
    </footer>
    <footer *ngIf="isMobileResize" class="text-center text-lg-start bg-light text-muted w-100">
        <section class="seccion-footer">
            <div class="container text-center text-md-start mt-5 mb-3 p-0 d-flex align-items-center justify-content-around flex-row flex-sm-row flex-md-row">
                <div title="explorar" class="color-icono"  routerLink="/listado" role="button">
                    <i class="fas fas fa-magnifying-glass m-1"></i></div>
                <div title="citas" class="color-icono"  *ngIf="logeado"  routerLink="/citas" role="button">
                    <i class="fas fa-calendar-day m-1"></i></div>
                <div title="iniciar sesion" *ngIf="!logeado" class="color-icono"  routerLink="/login" role="button">
                    <i class="fas fa-arrow-right-to-bracket"></i>
                </div>
                <div title="cerrar sesion" *ngIf="logeado" class="color-icono" (click)="logout()" role="button">
                    <i class="fas fa-user-circle me-2"></i>
                    <i class="fas fas fa-sign-out-alt"></i>
                </div>
            </div>
        </section>
    </footer>
</nav>