<div class="border rounded-6 p-3 bg-white shadow box-area">
    <form (submit)="submit()" [formGroup]="estadoTareaForm">
        <div class="group-inputs">
            <div class="row">
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="idEstadoTarea" type="number" min="0" id="metroscuadrados"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="metroscuadrados">Id Estado Tarea (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="estadoTareaForm.get('idEstadoTarea').touched && estadoTareaForm.get('idEstadoTarea').invalid">Id
                        del estado del tarea es requerido</span>
                </div>
                <div class="text-center margin-form col-12 col-sm-12 col-md margin-form">
                    <mdb-form-control>
                        <input mdbInput formControlName="estadoTarea" type="text" id="anoconstruccion"
                            class="form-control" />
                        <label mdbLabel class="form-label" for="anoconstruccion">Estado Tarea (*)</label>
                    </mdb-form-control>
                    <span class="text-danger"
                        *ngIf="estadoTareaForm.get('estadoTarea').touched && estadoTareaForm.get('estadoTarea').invalid">El
                        estado del tarea es requerido</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 margin-form">
                <a routerLink="/home-dashboard/dashboard" mdbBtn type="button" id="btnSave" class="btn btn-primary btn-lg btn-block"
                    mdbWavesEffect>Volver</a>
            </div>
            <div class="col-12 col-sm-12 col-md-6 margin-form">
                <button mdbBtn type="submit" id="btnSave" [disabled]="estadoTareaForm.invalid||estadoTareaForm.disabled"
                    class="btn btn-primary btn-lg btn-block" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </form>
</div>
<table class="table align-middle mb-0 bg-white  margin-form">
    <thead class="bg-dark text-light">
        <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="margin-form">
        <tr *ngFor="let estado of estadosTarea">
            <td>
                <span class="fw-normal mb-1">{{estado.idEstadoTarea}}</span>
            </td>
            <td>
                <span class="fw-normal mb-1">{{estado.estadoTarea}}</span>
            </td>
            <td>
                <button (click)="ver(estado.idEstadoTarea)" [disabled]="deshabilitar(estado.idEstadoTarea)"
                    type="button" class="btn btn-primary  btn-floating mx-1">
                    <i class="fas fa-eye"></i>
                </button>
                <button (click)="editar(estado.idEstadoTarea)" [disabled]="deshabilitar(estado.idEstadoTarea)"
                    type="button" class="btn btn-warning btn-floating mx-1" mdbRipple rippleColor="dark">
                    <i class="fas fa-pen"></i>
                </button>
                <button (click)="eliminar(estado.idEstadoTarea)" [disabled]="deshabilitar(estado.idEstadoTarea)"
                    type="button" class="btn btn-danger btn-floating mx-1">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>